name: Terraform action for integration test

on:
  push:
    branches: [main, releases/*]
    paths:
      - "infra/resources/_modules/integration-test/**"
      - "infra/resources/dev/integration-test/**"
      - "infra/resources/uat/integration-test/**"
      - "infra/resources/dev-pnpg/integration-test/**"
      - "infra/resources/uat-pnpg/integration-test/**"

  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Environment
        default: dev
        options: [dev, uat]
        required: true

jobs:
  apply_dev:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: "[Dev] Release to Infra Integration Test"
    secrets: inherit
    if: ${{ (startsWith(github.ref_name, 'releases/') != true && inputs.env == null) || inputs.env == 'dev' }}
    with:
      environment: dev
      base_path: "infra/resources"
      override_github_environment: dev-ci
      env_vars: ARM_TENANT_ID=${{ vars.ARM_TENANT_ID }}

  apply_uat:
    uses: pagopa/dx/.github/workflows/infra_apply.yaml@main
    name: "[UAT] Release to Infra Integration Test"
    secrets: inherit
    if: ${{ (startsWith(github.ref_name, 'releases/') == true && inputs.env == null) || inputs.env == 'uat' }}
    with:
      environment: uat
      base_path: "infra/resources"
      override_github_environment: uat-ci
      env_vars: ARM_TENANT_ID=${{ vars.ARM_TENANT_ID }}
